<%-include('partials/header')-%>
<div class="container">
<div style="margin:240px auto; text-align:center;">
    <p><h3>Want to share something from your last Tourist visit</h3></p>
    <a href="/campgrounds"><button type="button" class="btn btn-lg btn-outline-primary">Get Started</button></a>
    <p><h3>Then upload a image of that place and share your experience</h3></p>
</div>
</div>
<%-include('partials/footer')-%>